* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1300px;
    margin: auto;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #4e8cb6;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.btn-primary {
    background-color: #7fb802;
    border-color: #7fb802;
}

header {
    background-color: #0D325A;
    height: 500px;
}

.header-top {
    height: 100px;
}

.header-bottom {
    background-image: url('images/business-men.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.logo-container {
    width: 15%;
    float: left;
}

#logo {
    padding-top: calc((100px - 38px) / 2);
}

.menu-container {
    width: 50%;
    float: left;
}

#main-menu {
    list-style-type: none;
}

#main-menu li {
    display: inline-block;
}

#main-menu li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 700;
}

#main-menu li a:hover {
    color: #f8b71c;
}

.cta-container {
    width: 35%;
    float: left;
    height: 100%;
    text-align: right;
}

.cta-container a {
    margin-left: 6px;
}

.cta-container a.link {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    line-height: 100px;
}

#jumbo-wrapper {
    height: 400px;
    position: relative;
}

#jumbo-content {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#jumbo-content h1 {
    color: white;
    font-size: 44px;
    font-weight: normal;
    margin-bottom: 40px;
}

section.grey-block{
    background-color: #f9f9f9;
}

section {
    background: white;
}

section .container {
    padding-top: calc((155px - 80px)/2);
    padding-bottom: calc((155px - 80px)/2);
    text-align: center;
}

.container h2 {
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    font-weight: 300;
}

.row p, .info-container-description p{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 300;
    color: #999;
}

ul {
    list-style-type: none;
}

.info {
    width: 33.333333%;
    float: left;
}

.info-container {
    width: 100%;
}

.img-info {
    height: 200px;
    padding: 20px;
}

.description-info {

}

.img-info img {
    height: 160px;
}

.text-info {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    color: #999;
    padding: 0 30px;
    text-align: center;
}

.description-info hr {
    opacity: .3;
    width: 32px;
    border-top: 2px solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

hr {
    margin: auto;
}

.img-info-50, .info-container-50 {
    float: left;
    width: 50%;
    height: 500px;
}

.img-info-50 img {
    height: 500px;
}

.info-container-description {
    text-align: left;
    padding-top: calc((500px - 219px)/2);
    padding-bottom: calc((500px - 219px)/2);
}

.info-container-description h4 {
    color: #4a4a4a;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.info-container-description p{
    margin-bottom: 50px;
    height: 50px;
}

.info-container-description a{
    color: #98c8f8;
}

.text-left span {
    color: #4a4a4a;
    font-size: 30px;
}

.text-left {
    float: left;
    width: 50%;
    text-align: left;
}

.txt-container {
    width: 50%;
    float: left;
    text-align: center;
    padding-top: calc((39px - 22px)/2);
    padding-bottom: calc((39px - 22px)/2);
}

h3 {
    color: #7fb802;
}
